@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
:root {
  --color-white: #ffffff;
  --color-orange: #ff6200;
  --color-gray: #929292;
}

.bg-color {
  background: url(../images/banner.jpg);
  background-size: cover;
  background-position: right top;
  min-height: 100vh;
}

img {
  width: 100%;
  display: flex;
}

a {
  text-decoration: none;
}

nav {
  width: 60px; /* Largura do contêiner */
  height: 50px; /* Altura do contêiner */
  display: flex;
  align-items: left;
  justify-content: left;
  overflow: hidden; /* Garante que a logo não saia do contêiner */
}

.nav-logo {
  max-width: 100%;
  max-height: 100%;
  padding: 2px 5px;
}

.nav-logo p {
  color: var(--color-white);
  font-size: 8px;
  padding: 0 6px;
}

.color-p {
  color: var(--color-white);
  font-size: 45px;
  line-height: 60px;
  padding: 0 13px;
}

form {
  width: 90%;
  margin: auto;
  padding-top: 1px;
}

.larger-input {
  height: 50px; /* Ajuste conforme necessário */
  border-radius: 22px;
}

.input-cor::placeholder {
  color: var(--color-gray);
  font-weight: 800;
  font-size: 12px;
  padding-left: 10px;
}

.btn-cont {
  max-width: 150px;
  height: 47px;
  border-radius: 22px;
  align-items: center;
  background-color: var(--color-orange);
  border: 1px solid var(--color-orange);
  margin-left: 10px;
  font-size: 14px;
}
.btn-cont-2 {
  max-width: 200px;
  height: 47px;
  border-radius: 22px;
  align-items: center;
  background-color: var(--color-orange);
  border: 1px solid var(--color-orange);
  font-size: 14px;
  font-weight: 700;
}

.col-senha {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 10px;
  margin-left: 5px;
}

.col-senha a {
  color: var(--color-white);
  font-weight: 600;
  font-size: 11px;
}

.p-enter {
  color: var(--color-white);
  font-weight: 700;
  font-size: 14px;
  margin-top: 0px;
}

.divider {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 1px 0;
  color: var(--color-white);
  font-weight: 600;
  font-size: 10px;
}

.divider::before,
.divider::after {
  content: "";
  flex: 1;
  border-bottom: 3px solid var(--color-white);
}

.divider:not(:empty)::before {
  margin-right: 0.25em;
}

.divider:not(:empty)::after {
  margin-left: 0.25em;
}

.divider-text {
  padding: 0 10px;
}

.icon {
  width: 30px; /* ajuste o tamanho conforme necessário */
  height: auto;
}

.p-comece {
  color: var(--color-white);
  font-weight: 600;
  font-size: 11px;
  margin-top: 0px;
}

@media (min-width: 790px) {
  .color-p {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  form {
    width: 50%;
    margin: auto;
    padding-top: 1px;
  }
}

@media (min-width: 501px) {
  .color-p {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 500px) {
  .color-p {
    display: flex;
    flex-direction: column;
    align-items: right;
  }
}
